In [1]:
import pandas as pd

In [8]:
path_data = '/Users/sakshigupta43/Desktop/Guild Competition/2020 PPP Dataset/PPP Train ALL.csv'

In [9]:
df = pd.read_csv(path_data)

In [61]:
df.head()

,Unnamed: 0,BusinessType,CD,City,DateApproved,Gender,JobsRetained,Lender,LoanRange,NAICSCode,NonProfit,RaceEthnicity,State,Veteran,Zip,Industry,Index
0,0,Independent Contractors,CA - 49,LA JOLLA,04/30/2020,Unanswered,1.0,"U.S. Bank, National Association",$16300-27300,531210.0,N,Unanswered,CA,Unanswered,92037.0,Offices of Real Estate Agents and Brokers,1026947
1,1,Limited Liability Company(LLC),CA - 39,BREA,04/30/2020,Male Owned,4.0,"Bank of America, National Association",$7964-16300,423490.0,N,Unanswered,CA,Non-Veteran,92821.0,Other Professional Equipment and Supplies Merc...,1143280
2,2,Limited Liability Company(LLC),MI - 08,ROCHESTER HILLS,04/06/2020,Unanswered,208.0,Oxford Bank,$2-5 million,541612.0,N,Unanswered,MI,Unanswered,48309.0,Human Resources Consulting Services,286838
3,3,Independent Contractors,PA - 01,PHILADELPHIA,06/24/2020,Male Owned,1.0,Sun FCU,$0-7964,541430.0,N,White,PA,Unanswered,19123.0,Graphic Design Services,3727822
4,4,Sole Proprietorship,TX - 30,DALLAS,04/15/2020,Unanswered,10.0,"Texas Capital Bank, National Association",$56313-150000,522291.0,N,Unanswered,TX,Unanswered,75223.0,Consumer Lending,3960482

In [58]:
for col in df.columns.values.tolist():
    print('{}: {}'.format(col, df[col].nunique()))

Unnamed: 0: 3966377
BusinessType: 17
CD: 525
City: 33772
DateApproved: 79
Gender: 3
JobsRetained: 501
Lender: 4858
LoanRange: 10
NAICSCode: 1057
NonProfit: 2
RaceEthnicity: 9
State: 51
Veteran: 3
Zip: 35634
Industry: 1057
Index: 3966377

In [ ]:
# config 
1. data prep 
    1.1. clean data 
        1.1.1 impute nulls/values
            1.1.1.1 BusinessType -> Create a new category 'Not Specified' - SK
            1.1.1.2 Convert NonProfit to Binary indicator - SK
        1.1.2 remove dupes/columns
            1.1.2.1 Unnamed: 0, City, Industry and Zip (skip for now) - SK
        1.1.3 eda - SG
        1.1.4 descriptive analysis - 
        1.1.5 outlier analysis - 
    1.3. feature engineering
        1.3.1 CD - State and DC. Replace Null DC by -1 - SK 
        1.3.2 LoanRange - Mean, Min, Max -  SK
        1.3.3 Weighted_Loan_Amt - Loan_Amount * Wi*Fi (W - weight, F- feature)  - SK
    1.2. data transformation
        1.2.1 label encoding - CD, City, Lender, NAICSCode, State, Zip - SK/ SG
        1.2.2 target/mean encoding  - CD, City, Lender, NAICSCode, State, Zip - SG
        1.2.3 one hot encoding - Veteran, RaceEthnicity, Gender, BusinessType - SG
    1.4. train test split (80/20) - SG
    1.5. models
        1.5.1 XGBoost - SG
        1.5.2 GBM - SG
        1.5.3 RF - SG
        1.5.4 NN - TBD
        1.5.5 LR - SK
        1.5.6 
        
#notebook
data_prep_sg.ipynb
feature_engineering.ipynb
feature_encoding.ipynb
model.ipynb

#file structure
data
    - raw
    - master
code
    - data prep
    - model

500.0

0.0

In [35]:
df.isna().sum(axis = 0)

Unnamed: 0          0
BusinessType     3181
CD                  0
City               38
DateApproved        0
Gender              0
JobsRetained        0
Lender              0
LoanRange           0
NAICSCode           0
NonProfit           0
RaceEthnicity       0
State               0
Veteran             0
Zip                34
Industry            0
Index               0
dtype: int64

In [43]:
df.loc[~df.City.isna() | ~df.Zip.isna()].CD.unique()

array(['CA - 49', 'CA - 39', 'MI - 08', 'PA - 01', 'TX - 30', 'TX - 10',
       'NH - 01', 'NC - 06', 'CA - 52', 'OK - 01', 'CA - 26', 'OR - 04',
       'IL - 04', 'MN - 01', 'VA - 02', 'WI - 01', 'GA - 05', 'NC - 05',
       'TX - 20', 'TN - 03', 'CT - 05', 'GA - 06', 'TX - 34', 'NY - 22',
       'MI - 05', 'MO - 08', 'KS - 01', 'CA - 18', 'TX - 11', 'NE - 03',
       'MD - 06', 'IA - 02', 'LA - 01', 'IN - 03', 'NY - 18', 'CA - 25',
       'MN - 07', 'ND - 00', 'TN - 01', 'NJ - 03', 'PA - 17', 'NY - 01',
       'FL - 23', 'SD - 00', 'MN - 08', 'SC - 01', 'NY - 21', 'ME - 02',
       'ID - 01', 'IA - 04', 'AR - 02', 'TX - 01', 'CT - 04', 'TN - 07',
       'TN - 05', 'IN - 05', 'FL - 16', 'MO - 04', 'CO - 04', 'UT - 04',
       'WV - 01', 'IL - 05', 'TN - 04', 'VA - 10', 'SC - 04', 'PA - 16',
       'AZ - 06', 'CA - 15', 'NY - 10', 'WA - 05', 'AR - 03', 'FL - 11',
       'FL - 20', 'NJ - 04', 'WI - 04', 'TX - 06', 'FL - 18', 'UT - 02',
       'UT - 01', 'VA - 11', 'FL - 12', 'ME - 01', 'OH - 01', 'IL - 18',
       'FL - 03', 'GA - 01', 'CA - 06', 'MN - 06', 'MO - 06', 'TX - 02',
       'OH - 11', 'CO - 01', 'IN - 07', 'DE - 00', 'ID - 02', 'TX - 19',
       'OK - 02', 'AL - 05', 'PA - 12', 'NC - 13', 'TX - 15', 'WY - 00',
       'CA - 33', 'NH - 02', 'CA - 42', 'NV - 01', 'WI - 06', 'MA - 09',
       'TX - 21', 'CA - 27', 'WA - 08', 'CA - 31', 'TX - 04', 'CO - 03',
       'GA - 07', 'GA - 10', 'TX - 03', 'NY - 19', 'NY - 09', 'VT - 00',
       'AL - 02', 'NV - 04', 'NJ - 11', 'OH - 03', 'NE - 02', 'MA - 01',
       'OH - 02', 'NJ - 05', 'WA - 01', 'FL - 27', 'CA - 29', 'AR - 01',
       'SC - 06', 'FL - 07', 'OK - 05', 'MO - 07', 'PA - 05', 'SC - 03',
       'IL - 08', 'MD - 01', 'CT - 03', 'MA - 04', 'CA - 34', 'CA - 11',
       'CA - 24', 'AZ - 04', 'NY - 05', 'TX - 13', 'NC - 08', 'NJ - 09',
       'VA - 07', 'OR - 01', 'GA - 12', 'TX - 07', 'MA - 08', 'FL - 25',
       'CA - 21', 'RI - 01', 'CA - 45', 'FL - 04', 'PA - 14', 'IL - 13',
       'IL - 03', 'IN - 02', 'TX - 26', 'MA - 07', 'PA - 10', 'MO - 01',
       'VA - 01', 'MS - 01', 'NM - 02', 'NY - 15', 'NY - 08', 'NY - 07',
       'OH - 07', 'LA - 05', 'OK - 03', 'FL - 08', 'IL - 02', 'WA - 02',
       'NC - 04', 'GA - 14', 'MI - 01', 'FL - 26', 'IL - 14', 'VA - 05',
       'CA - 28', 'TX - 14', 'GA - 02', 'CA - 50', 'GA - 09', 'OH - 09',
       'MI - 12', 'OK - 04', 'TX - 29', 'FL - 01', 'PA - 15', 'PA - 09',
       'MD - 03', 'MO - 05', 'MI - 10', 'OR - 03', 'MI - 11', 'AL - 01',
       'CO - 02', 'PA - 08', 'NJ - 07', 'VA - 03', 'LA - 02', 'CA - 20',
       'MI - 07', 'TX - 12', 'OR - 05', 'CA - 07', 'CA - 19', 'MI - 04',
       'NC - 10', 'AL - 03', 'NY - 11', 'IL - 15', 'WI - 03', 'IL - 01',
       'CA - 17', 'NY - 12', 'TN - 02', 'MA - 06', 'AZ - 01', 'IA - 01',
       'SC - 02', 'GA - 08', 'NV - 03', 'NY - 20', 'MS - 04', 'CT - 02',
       'MS - 03', 'MT - 00', 'FL - 21', 'KY - 01', 'FL - 24', 'WI - 07',
       'WA - 03', 'NC - 11', 'LA - 04', 'FL - 19', 'AZ - 05', 'NC - 02',
       'OR - 02', 'AL - 06', 'IL - 07', 'MI - 06', 'MI - 14', 'CA - 01',
       'IL - 10', 'GA - 03', 'MD - 05', 'WA - 06', 'VA - 04', 'CA - 38',
       'MN - 02', 'NY - 16', 'TX - 05', 'IL - 12', 'CA - 51', 'NE - 01',
       'IN - 06', 'AL - 07', 'MA - 02', 'LA - 03', 'MI - 03', 'CA - 47',
       'NM - 03', 'AZ - 07', 'OH - 04', 'PA - 04', 'MO - 02', 'VA - 09',
       'TX - 25', 'MI - 09', 'FL - 02', 'HI - 01', 'PA - 02', 'WI - 08',
       'GA - 04', 'MD - 02', 'OH - 16', 'GA - 11', 'IL - 06', 'NY - 03',
       'MI - 02', 'AL - 04', 'TX - 08', 'MA - 05', 'PA - 06', 'SC - 05',
       'CA - 16', 'TX - 36', 'AZ - 03', 'NY - 06', 'VA - 06', 'CO - 06',
       'MO - 03', 'CA - 12', 'MN - 04', 'IN - 08', 'CA - 22', 'CA - 03',
       'NC - 01', 'CA - 09', 'FL - 14', 'DC - 00', 'NJ - 08', 'OH - 10',
       'WA - 07', 'UT - 03', 'MN - 03', 'KY - 02', 'WI - 02', 'VA - 08',
       'TN - 08', 'TX - 24', 'CO - 07', 'NY - 02', 'PA - 03', 'CA - 13',
       'CA - 46', 'MA - 03', 'NC - 03', 'CA - 02', 'NY - 25', 'NJ - 12',
       'CA - 35', 'SC - 07', 'KY - 03', 'NY - 13', 'IN - 04', 'CA - 08',
       'CA - 36', 'HI - 02', 'KS - 03', 'NJ - 02', 'CA - 23', 'TX - 17',
       'NC - 09', 'TX - 27', 'IL - 16', 'NY - 24', 'NJ - 01', 'KY - 06',
       'OH - 06', 'WA - 09', 'FL - 10', 'NY - 17', 'IN - 01', 'NY - 27',
       'CA - 10', 'CA - 14', 'CA - 41', 'GA - 13', 'LA - 06', 'NY - 23',
       'FL - 13', 'NM - 01', 'MD - 08', 'OH - 08', 'CA - 30', 'FL - 09',
       'TX - 31', 'OH - 05', 'CA - 04', 'FL - 15', 'IL - 17', 'KS - 02',
       'KY - 04', 'IL - 09', 'NV - 02', 'FL - 06', 'CA - 37', 'MD - 04',
       'TX - 28', 'CA - 32', 'TX - 18', 'NJ - 10', 'MD - 07', 'TX - 09',
       'KS - 04', 'AZ - 02', 'NC - 07', 'WA - 04', 'TX - 23', 'PA - 13',
       'NY - 14', 'AZ - 09', 'FL - 22', 'CT - 01', 'IA - 03', 'NY - 26',
       'AK - 00', 'CA - 48', 'NJ - 06', 'TX - 22', 'WV - 02', 'MS - 02',
       'OH - 14', 'CA - 40', 'CO - 05', 'KY - 05', 'CA - 44', 'NY - 04',
       'CA - 05', 'IL - 11', 'PA - 07', 'FL - 05', 'FL - 17', 'TX -',
       'MN - 05', 'TN - 09', 'CA - 43', 'WV - 03', 'TN - 06', 'AR - 04',
       'OH - 13', 'OH - 15', 'TX - 16', 'PA - 18', 'CA - 53', 'PA - 11',
       'IN - 09', 'WA - 10', 'TX - 32', 'OH - 12', 'WI - 05', 'RI - 02',
       'MI - 13', 'AZ - 08', 'SD - 04', 'NC - 12', 'IL -', 'TX - 35',
       'TX - 33', 'AR -', 'WY - 02', 'NJ -', 'CT -', 'DE - 01', 'ND - 07',
       'SD - 01', 'WY - 01', 'MT - 01', 'WY - 03', 'MA -', 'SD - 03',
       'AL - 20', 'AL - 08', 'LA -', 'NV -', 'CA - 00', 'CA -', 'GA -',
       'AZ -', 'NY -', 'IL - 00', 'OH -', 'CT - 20', 'SD - 07', 'VI - 00',
       'MI - 00', 'AL -', 'WI -', 'NE - 06', 'CO - 45', 'MN - 00',
       'DC - 08', 'FL -', 'CO - 25', 'MA - 00', 'IA - 07', 'NM - 08',
       'NV - 12', 'CO - 18', 'MI -', 'AR - 06', 'NJ - 22', 'ME - 09',
       'MS - 09', 'AL - 18', 'VA - 00', 'LA - 09', 'AZ - 49', 'OH - 21',
       'UT - 12', 'AL - 13', 'GA - 17', 'OR -', 'ND - 17', 'OH - 00',
       'AZ - 00', 'TX - 00', 'CT - 16', 'VT - 30', 'IN -', 'CO - 28',
       'IA - 11', 'WA - 21', 'UT -', 'MD -', 'NH - 03', 'ND - 09', 'CO -',
       'CO - 00', 'ME -', 'MS - 08', 'RI -', 'ID -', 'OK - 11', 'ME - 00',
       'VT - 03', 'SC - 08', 'VT - 24', 'WA -', 'SC -', 'CO - 26', 'VT -',
       'CO - 33', 'CO - 53', 'NC -'], dtype=object)

In [56]:
df.NAICSCode.value_counts()

722511.0    146877
541110.0    105007
531210.0     96656
621111.0     88292
621210.0     86375
             ...
485112.0        10
212391.0         9
311313.0         9
212222.0         6
212291.0         4
Name: NAICSCode, Length: 1057, dtype: int64

In [57]:
df.Industry.value_counts()

Full-Service Restaurants                                     146877
Offices of Lawyers                                           105007
Offices of Real Estate Agents and Brokers                     96656
Offices of Physicians (except Mental Health Specialists)      88292
Offices of Dentists                                           86375
                                                              ...
Commuter Rail Systems                                            10
Beet Sugar Manufacturing                                          9
Potash, Soda, and Borate Mineral Mining                           9
Silver Ore Mining                                                 6
Uranium-Radium-Vanadium Ore Mining                                4
Name: Industry, Length: 1057, dtype: int64